/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

#add {
  margin-bottom: 10px;
}


.title-box {
  width: 200px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  padding-top: 13px;
}

.titles {
  margin-bottom: 10px;
}

.title-box:not(:last-child) {
  margin-right: 10px;
}

.titles,
.titles-inner {
  display: flex;
  justify-content: left;
}

.inner-box {
  width: 200px;
  min-height: 500px;
  border: 1px solid black;
  border-radius: 5px;
  margin-right: 10px;
}

/* .inner-box:not(:last-child) {
  margin-right: 10px;
} */

.task-box {
  border: 1px solid black;
  width: 90%;
  height: 150px;
  display: none;
  position: relative;
  background-color: rgba(169, 164, 173, 0.4);
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 5%;
  margin-top: 5%;
}

.box-title {
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.box-text {
  max-width: 70%;
  overflow: auto;
  max-height: 90px;

}

#next {
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#next {
  min-width: 100px;
  font-family: inherit;
  appearance: none;
  border: 0;
  border-radius: 5px;
  background: #4676d7;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
  text-align: center;
}

#next:hover {
  background: #1d49aa;
}

#next:focus {
  outline: none;
  box-shadow: 0 0 0 4px #cbd6ee;
}



#delete {
  margin-left: 15px;
  color: grey;
  font-weight: bold;
  float: right;
  font-size: 25px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  margin-top: 5px;
  background-color: transparent;
}

#delete:hover {
  color: black;
}